@import url('https://fonts.googleapis.com/css2?family=REM:wght@100&display=swap');

body{
    color: #EEECE5;
    background-color: #24262a ;
    font-family: 'REM';
    text-align: left;
    
}

.ytpfp{
    border-radius: 50%;
    position: relative;
}

.header{
    text-align: center;
}

.ytpfp::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #363d47;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }
  
  .ytpfp:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }