@import url('https://fonts.googleapis.com/css2?family=REM:wght@100&display=swap');
body{
    color: #EEECE5;
    background-color: #24262a ;
    font-family: 'REM';
    text-align: center;
}

.ytpfp{
    border-radius: 50%;
}